doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .page-title-div
        h1= pagetitle
        p
          a(href="/") トップ
      .main
        block content
